html,body {height:100%;}
.special {
	height:100%;
	padding-top:70px;
	
	
}
.blop{
	position:absolute;
	padding-top:50px;
	width:100%;
	height:100%;
	top:0px;

}

.special .jumbotron {
	height:100%;
	position:relative;
	margin-bottom:5px;
	padding:25px;
	}

canvas {
	background-color:blue;
	position:relative;
	bottom:0px;
	width:100%;
	height:100%;
	}


	
	
.test{
	position:absolute;
	display:inline-block;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
	padding:25px;
	padding-left:100px;
	
}


@media only screen and (max-width: 768px){
	

	canvas{
		background-color:red;
		
	}
	.test{
		padding:25px;
		padding-top:100px;
	}
}
	